body {
    background-color: #111111;
    margin: 0;
}

.bingo-container {
    height: 100vh;
    width: 80vw;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bingo-container table {
    border-spacing: 1vmin;
}

.bingo-container td {
    background-color: #f3f3f3;
    border-radius: 2vmin;
    width: 15vmin;
    height: 15vmin;
    padding: 1vmin;
    text-align: center;
    transition: 0.15s;
    cursor: pointer;
}

.bingo-container td:hover {
    transform: scale(0.95);
}

.bingo-container td.clicked {
    background-color: #119100;
    color: black;
}

.bingo-container td.clicked[counter="0"] {
    background-color: #1b1b1b;
    color: white;
    outline: none;
}

#board-selector {
    position: absolute;
    right: 5.5vmin;
    top: 5.5vmin; 
}