body {
    background-color: #111111;
    margin: 0;
    font-family: sans-serif;
}

.bingo-container {
    height: 100vh;
    width: 80vw;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bingo-container table {
    border-spacing: 1vmin;
}

.bingo-container td {
    background-color: #1b1b1b;
    color: white;
    border-radius: 2vmin;
    width: 15vmin;
    height: 15vmin;
    padding: 1vmin;
    text-align: center;
    transition: 0.2s;
    transition-delay: 0.1s;
    cursor: pointer;
}

.bingo-container td:hover, .bingo-container td.clicked[counter="0"]:hover {
    transition: 0.1s;
    transition-delay: 0s;
    transform: scale(0.9);
}

.bingo-container td.centre[counter="0"]:hover {
    transform: none;
}

.bingo-container td.clicked {
    background: #46f32f;
    color: black;
    transform: scale(0.95);
}

.bingo-container td.clicked[distance="1"] {
    background: #46f32f;
    color: black;
    transition-delay: 0.1s;
}

.bingo-container td.clicked[distance="2"] {
    background: #46f32f;
    color: black;
    transition-delay: 0.2s;
}

.bingo-container td.clicked[distance="3"] {
    background: #46f32f;
    color: black;
    transition-delay: 0.3s;
}

.bingo-container td.clicked[distance="4"] {
    background: #46f32f;
    color: black;
    transition-delay: 0.4s;
}

.bingo-container td.clicked[counter="0"] {
    background-color: #f3f3f3;
    outline: none;
    transform: none;
    border-radius: 2vmin;
    transition-delay: 0s;
}

#board-selector {
    position: absolute;
    right: 5.5vmin;
    top: 5.5vmin; 
}

#capture-button {
    position: absolute;
    right: 5.5vmin;
    top: 11vmin;
}

#share-button {
    position: absolute;
    right: 5.5vmin;
    top: 16.5vmin;
}

@media print {
    /* Hide header and footer */
    @page {
        margin: 0;
    }

    body {
        margin: 2px;
    }

    #board-selector {
        display: none;
    }

    #capture-button {
        display: none;
    }

    #share-button {
        display: none;
    }

    .bingo-container table {
        border-collapse: collapse;
    }

    .bingo-container td {
        border: 1px solid black;
        border-radius: 0;
    }
}
